h1,h2,h3,p,ul{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    background-color: blanchedalmond;
    font-size: 22px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* стилі для хедера */
.header{
    background-color: rgb(221, 103, 82);
    padding: 10px 0;
}
.header-cotainer{
display: flex;
justify-content: space-between;
align-items: center;
}
.header-img{
    width: 170px;
}
.header-list{
    font-size: 24px;
    color: white;
    font-weight: 700;
    margin-left:50px;
}
.header-link:hover, .header-link:focus{
color: blanchedalmond;

}
/* Стилі до головної секції */
.hero{
padding-top: 50px;
padding-bottom: 50px;

}
.hero-container{
    display: flex;
    align-items: center;
    gap:50px;
}
.hero-title{
   color: rgb(113 , 27, 12);
    font-size: 48px;
    font-weight: 700;
padding-bottom: 50px;
}
.hero-text{
    padding-bottom: 30px;
}
/* стилі для інгредіентів для тісиа */
.dough{
    background-color: rgb(255, 167, 123);
    padding-bottom:50px;
    padding-top:50px;
}
.dough-container{
    display: flex;
    align-items: center;
    gap:50px;
}
.dough-title{
    color: rgb(113 , 27, 12);
    font-size: 33px;
font-weight: 700;
padding-bottom:25px;   
}
.dough-list{
    padding-left: 50px;
    padding-bottom: 25px;
    list-style: disc;
}
/*Стилі до третьої секції  */
.filling{
    padding-bottom:50px;
    padding-top:50px;
}
.filling-container{
    display: flex;
    align-items: center;
    gap:50px;
}
.filling-title{
    color: rgb(113 , 27, 12);
    font-size: 33px;
font-weight: 700;
padding-bottom:25px;   
}
.filling-list{
    padding-left: 50px;
    padding-bottom: 25px;
    list-style: disc;
}
/* стилі для підвалу сайта */
.footer{
    background-color: rgb(221, 103, 82);
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
color: white;
font-size: 18px;
}
.footer-img{
    width:30px;
    padding-left:20px;
}